*
{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    color: ghostwhite;
}

.cntRegistro
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 50%;
    background: #ffff;
    box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.75);
    border-radius: 5px;
}


.title
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 15%;
    background: rgb(73, 158, 3);
}

h1
{
    letter-spacing: 4px;
    text-transform: uppercase;
}

.options
{
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.options button
{
    width: 60%;
    height: 20%;
    margin: 5%;
    border: none;
    background: rgb(97, 140, 78);
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.formulario
{
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.datosPaciente, .datosProfesional
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 
.datosPaciente input[type="text"], .datosPaciente input[type="password"]
{
    margin: 5%;
    height: 46px;
    width: 90%;
    border: none;
    background: rgba(90,152,43,0.5);
    text-align: center;
    font-size: 1.3em;
    outline: none;
    border-radius: 5px;
}

.datosPaciente input[type="text"]:focus, .datosPaciente input[type="password"]:focus,
.datosProfesional input[type="text"]:focus, .datosProfesional input[type="password"]:focus
{
    border: 1px solid rgb(97, 156, 20);
    box-shadow: 0px 0px 0px 4px rgba(57, 114, 3, 0.3);
}


.datosPaciente input[type="file"], .datosProfesional input[type="file"]
{
    margin: 3%;
    width: 90%;
    color: black;
}

.rto
{
    width: 70%;
    max-height: 59px;
}

.datosPaciente button, .datosProfesional button
{
    width: 40%;
    height: 38px;
    background: rgb(97, 140, 78);
    border: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    outline: none;
    margin: 5%;
}

.datosPaciente button:hover, .datosProfesional button:hover
{
    background: rgb(58, 83, 48);
}

::placeholder
{
    color: ghostwhite;
}

.datosProfesional input[type="text"], .datosProfesional input[type="password"]
{
    margin: 4%;
    height: 35px;
    width: 90%;
    border: none;
    background: rgba(90,152,43,0.5);
    text-align: center;
    font-size: 1.3em;
    outline: none;
    border-radius: 5px;
}

.mensaje
{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 7%;
    background: rgb(206, 21, 21);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3em;
}