<div class="cntLogin" id="cntLogin">
    <div class="title">
        <h1>Login</h1>
    </div>
    <form class="formulario">
        <div class="datos">
            <div class="email">
                <div class="emailImg">
                    <img src="../../../assets/imagenes/email.png" alt="">
                </div>
                <input id="correo" type="text" placeholder="Ingrese correo" name="email" maxlength="30">
            </div>
            <div class="password">
                <div class="passwordImg">
                    <img src="../../../assets/imagenes/password.png" alt="">
                </div>
                <input id="clave" type="password" placeholder="Ingrese contraseña" name="pass" maxlength="20">
            </div>
            <div class="registrarse">
                <p>¿Todavia no tenes una cuenta?<span routerLink="/registro">Registrate</span></p>
            </div> 
            <div class="rto">
                <button (click)="loguear()">Login</button>
                <button (click)="cancelar()">Cancelar</button>
            </div> 
        </div>
    </form>
</div>
<div class="mensaje" id="mensajeLogin" style="display: none;">
</div>
<div class="loading" id="loadingLogin" hidden>
    <img src="../../../assets/imagenes/loading.gif" alt="">
</div>
<div class="usuarios" id="ui">
    <div class="ui" *ngFor="let usuario of this.listadoCompleto">
        <img src="../../../assets/imagenes/defectoUser.webp" alt="" (click)="completar(usuario.email)">
        <p>{{usuario.perfil}}</p>
    </div>
</div>
<div class="btnUsuarios" *ngIf="!mostrarUsuarios" id="btnUsuarios">
    <button (click)="quitarBoton();">Usuarios</button>
</div>
