/* You can add global styles to this file, and also import other style files */
*
{
    margin: 0;
    padding: 0;
}

body
{
    height: 100vh;
    background: url("./assets/imagenes/consultorio.jpg")no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

@font-face {
    font-family: 'lorenza';
    src: url('./assets/imagenes/LORENZA.ttf');
}